{% extends 'layout.html.twig' %}

{% if page.metaTitle|length > 0 %}
    {% block title %}{{ parent() }} | {{ page.metaTitle }}{% endblock %}
{% endif %}

{% block content %}

    {% if page.content|length > 0 %}
        <div>
            {% if page.enableTwig %}
                {{ include(template_from_string(page.content|raw)) }}
            {% else %}
                {{ page.content|raw }}
            {% endif %}
        </div>
    {% endif %}

    <h1>{{ page.tag.title|capitalize }}</h1>

    {% if posts|length > 0 %}

        {{ include('_post_list.html.twig') }}

        <div class="navigation text-center">
            {{ knp_pagination_render(posts) }}
        </div>

    {% else %}

        <div class="alert alert-danger">
            Sorry, there are no Posts available for this Tag!
        </div>

    {% endif %}

{% endblock %}
